* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

$azul-1: #0b63a7;
$azul-2: #1784d1;
$azul-claro: #62c6ff;
$bg: #f4fbff;
$card: #ffffff;
$cinza: #55636f;

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.17);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  .container-nav {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;

    .titulo-nav {
      a {
        text-decoration: none;

        strong {
          color: black;
        }

        small {
          color: $azul-claro;
        }
      }
    }

    nav {
      width: 40%;

      ul {
        display: flex;
        justify-content: space-around;
        list-style: none;

        li {
          a {
            text-decoration: none;
            color: $azul-2;
            font-weight: bold;
            transition: 0.5s;

            &:hover {
              color: $azul-1;
            }
          }
        }
      }
    }
  }
}

main {
  margin-top: 20vh;

  .hero {
    width: 90%;
    height: 500px;
    margin: 0 auto 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .hero-texto {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 70%;
      width: 50%;
      gap: 20px;

      h1 {
        font-size: 32px;
        color: $azul-1;
      }

      p {
        color: $cinza;
      }

      .cta-btns {
        button {
          background-color: $azul-2;
          color: white;
          padding: 15px 10px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.5s;

          &:hover {
            background-color: $azul-1;
          }
        }
      }

      .hero-stats {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .stat {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          padding: 14px;
          border-radius: 5px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 54px;

          h3 {
            color: $azul-claro;
            font-size: 24px;
          }

          small {
            color: $cinza;
            text-align: center;
          }
        }
      }
    }

    img {
      width: 370px;
      height: 450px;
      border-radius: 10px;
    }
  }

  .sobre {
    width: 90%;
    height: 500px;
    margin: 0 auto 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    h2 {
      color: $azul-1;
      font-size: 28px;
    }

    .sobre-contents {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 100px;

      .sobre-textos {
        width: 50%;
      }

      p {
        width: 80%;
        color: $cinza;
        font-size: 20px;
      }

      img {
        width: 370px;
        height: 450px;
        border-radius: 10px;
      }
    }
  }

  .info {
    width: 90%;
    height: 500px;
    margin: 0 auto 10vh;
    display: flex;
    justify-content: space-around;
    align-items: left;
    border-radius: 20px;
    box-shadow: rgba(128, 191, 255, 0.2) 0px 8px 24px;

    .info-contents {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 100px;

      h2 {
        color: $azul-1;
        font-size: 28px;
      }

      p {
        width: 80%;
        color: $cinza;
        font-size: 20px;
      }

      ul {
        li {
          color: $cinza;
          font-size: 18px;
          margin-bottom: 10px;
        }
      }

      img {
        width: 370px;
        height: 450px;
        border-radius: 10px;
      }
    }

    .textos-info {
      width: 50%;
    }
  }
}

footer {
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  p {
    font-size: 20px;
    text-align: center;
    width: 80%;
    max-width: 600px;
    line-height: 1.5;
  }
}

@media (max-width: 900px) {
  header {
    width: 100%;
    height: 15vh;
    border-radius: 0px;

    .container-nav {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;

      nav {
        width: 90%;
      }
    }
  }

  main {
    .hero {
      width: 100%;
      height: 800px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;

      .hero-texto {
        width: 90%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        h1 {
          font-size: 30px;
          text-align: center;
        }

        p {
          text-align: center;
        }
      }

      .hero-stats {
        .stat {
          h3 {
            text-align: center;
          }
        }
      }

      aside {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
          height: 130px;
          border-radius: 0px;
        }
      }
    }

    .sobre {
      width: 100%;
      height: 700px;
      border-radius: 0px;
      justify-content: space-around;

      .sobre-contents {
        display: flex;
        height: 100%;
        flex-direction: column;
        gap: 0px;

        div {
          img {
            width: 250px;
            height: 350px;
          }
        }

        .sobre-textos {
          width: 90%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;

          h2 {
            font-size: 25px;
          }

          p {
            text-align: left;
            font-size: 17px;
            width: 100%;
          }
        }
      }
    }

    .info {
      width: 100%;
      height: 900px;
      border-radius: 0px;
      gap: 0px;

      .info-contents {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;

        div {
          img {
            width: 250px;
            height: 350px;
          }
        }

        .textos-info {
          width: 90%;
          height: 40%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;

          h2 {
            font-size: 25px;
          }

          p {
            text-align: left;
            font-size: 17px;
            width: 100%;
          }
        }
      }
    }

    #ods,
    #importancia {
      .info-contents {
        flex-direction: column-reverse;
      }
    }

    #boaspraticas {
      margin-bottom: 50vh;
      gap: 0px;

      #boaspraticas-contents {
        height: 1200px;
        justify-content: space-around;
      }

      .textos-info {
        height: 60%;
        justify-content: center;
        gap: 10px;
      }

      .info-contents {
        gap: 0px;
      }
    }
  }
}